.main-body{
    width: 350px;
    height: 500px;
    background: rgb(228, 220, 220);
    border: rgba(143, 0, 0, 0.582);
    margin-left:500px ;
    margin-top: 30px;
    
}
.screen{
    margin: 31px;
    width: 80%;
    height: 65px;
}
.btn{
    width: 70px;
    height: 50px;
    margin-left: 12px;
    margin-top: 15px;
}